// .card{
//     height: 70vh;
//     margin: 50px;
//     padding: 50px;
// }

.center {
    position: absolute;
    height: 70vh;
    margin-top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
