// .btn-outline-primary{
//     margin-right: 10px;
// }
.btn {
    margin: 11px 11px 9px 0;
  }
  .searchContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }